<div class="text-center">
<h1>Coaching#answer</h1>



<blockquote>
  <p><%= @query %></p>
  <footer>You</footer>
</blockquote>

<blockquote>
  <p><%= @answer %></p>
  <footer>Your Coach</footer>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
